body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: rgb(230, 216, 195);
}
header{
    background-color: rgb(194, 166, 140);
    text-align: center;
    padding: 1em 0;
    color: rgb(93, 134, 108);
    
}
header nav ul{
   list-style: none;
   padding: 0%;
}
header nav ul li{
     display: inline;
    margin: 0 10px;

}
header nav ul li a{
    color: rgb(93, 134, 108);
    text-decoration: none;
    font-weight: bold;
}
main{
    margin: 20px;
    background-color:rgb(245, 245, 240);
    padding: 20px;
    border-radius: 8px;

}
article{
     margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(194, 166, 140); 
}
article h2{
    color:black;
    margin-bottom: 10px;
}
footer{
    background-color: rgb(194, 166, 140);
    text-align: center;
    padding: 1em 0;
}
.link-box {
  margin-top: 30px;
  padding: 15px 20px;
  border: 2px solid #4CAF50; /* green border */
  background-color: #e8f5e9; /* light green background */
  text-align: center;
  border-radius: 8px;
  max-width: 300px;
}

.link-box a {
  color: #2e7d32; /* dark green */
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}

.link-box a:hover {
  text-decoration: underline;
}
